<div class="container" style="text-align: center">
  <h4> Congratulation! Your personality matches him! </h4>
  <div class="img-container">
    <img src="{{petObj.picture}}" style="border-radius: 50%; width: 400px; height: 400px">
  </div>

  <h1>His name is DoDO</h1>
  <button class="btn btn-success"(click)="onGoToHome()" >Next!</button>
<!--<div class="naming">-->
  <!--<input type="text/input" #nameInput>-->
  <!--<button class="btn btn-success" (click)="submitName(nameInput)" > Name Me!</button>-->
<!--</div>-->

</div>
