<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form>
        <div id="user-data">
          <button class="btn btn-primary" type="button">Log In With Google</button>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" id="password" class="form-control">
          </div>
        </div>
        <div class="col-sm-12">
          <a routerLink="/signup">Have not got a pet yet? Sign up here!</a>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
